* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: monospace !important;
  font-size: 30px;
  padding: 10px;
  color: #444;
  background: #ecf0f1;
}

img,
h2,
ul,
input {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type='search'] {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2em;
}

input[type='button'] {
  background: #27ae60;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 10px;
}

.actions {
  margin-top: 10px;
  text-align: center;
}

ul {
  display: inline-block;
}

li {
  list-style-type: none;
  text-align: left;
}

.repos li,
.starred li {
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}
